@font-face {
  font-family: "EarlyFontDiary";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EarlyFontDiary.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
html {
  font-family: "EarlyFontDiary";
}

body {
  margin: 0;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header h1 {
  color: rgb(255, 104, 104);
  font-size: 40px;
  font-weight: bold;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section .input-to-do {
  margin-bottom: 10px;
}
section .input-to-do input {
  padding: 5px;
  font-size: 16px;
  font-family: "EarlyFontDiary";
}
section .input-to-do button {
  padding: 5px;
  font-size: 16px;
  font-family: "EarlyFontDiary";
}
section article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
section article div {
  width: 100%;
  height: 100%;
  min-width: 120px;
  min-height: 60px;
  background: rgb(255, 122, 122);
  border-radius: 10px;
  padding: 20px;
}
@media screen and (max-width: 768px) {
  section article div {
    max-width: 320px;
  }
}
section article div .what-to-do {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
section article div .what-to-do :last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  section article div .what-to-do {
    max-width: 320px;
  }
}
section article div .what-to-do li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(255, 193, 193);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  section article div .what-to-do li {
    max-width: 280px;
  }
}
section article div .what-to-do li input {
  width: 25px;
}
section article div .what-to-do li label {
  min-width: 180px;
  margin: 0 10px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  section article div .what-to-do li label {
    max-width: 180px;
    max-height: 18px;
    overflow: scroll;
  }
}
section article div .what-to-do li .checked-label {
  min-width: 180px;
  margin: 0 10px;
  text-align: center;
  color: #7b7b7b;
  text-decoration: line-through;
}
@media screen and (max-width: 768px) {
  section article div .what-to-do li .checked-label {
    max-width: 180px;
    max-height: 18px;
    overflow: scroll;
  }
}
section article div .what-to-do li button {
  width: 45px;
  font-family: "EarlyFontDiary";
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
footer div {
  background: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  padding: 5px;
  border-radius: 5px;
}